:root {
    --main-orange: #FDB03C;
    --secundary-orange: #DF7F36;
    --white: #f0f0f0;
    --black: #111111;
}

body {
    background-color: var(--black);
}

.logo {
    width: 100px;
}

.button a{
    background-color: var(--main-orange);
    color: var(--black);
    border-radius: 30px;
    padding: 10px 20px;
}

iframe {
    margin: 50px;
}